:root {
    --white: white;
    --black: rgb(0, 0, 0);
    --grey: #BFBFBF;
}
* {
    margin: 0;
    padding: 0;
}



p, a, span, h1, h2, h3, h4, h5, h6, ::placeholder, button, input, textarea {
    font-family: "Roboto", sans-serif;
}
a {
    color: var(--black)
}



h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 110%;
    text-shadow: unset;
    text-align: left;
    max-width: max-content;
    letter-spacing: 1px
} 
h1 {
    font-size: 2.4em;
    margin: 20px 0px;
}
h2 {
    font-size: 2em;
    margin: 10px 0px;
}
h3 {
    font-size: 1.6em;
    margin: 5px 0px;
}
h4 {
    font-size: 1.2em;
    margin: 0;
}
h5 {
    font-size: 1.1em;
    margin: 0;
}
h6 {
    font-size: 1em;
    margin: 0;
}
p, span, ::placeholder, a {
    font-size: 1em;
    line-height: 130%;
    text-align: left;
    max-width: max-content;
}
p {
    margin: 10px 0px;
}
a {
    text-decoration: unset;
}
button {
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}
ul li {
    font-size: 1em;
}
table td {
    font-size: 1em;
    line-height: 110%;
    text-align: center;
}
table th {
    font-size: 1.2em;
    text-align: center;
}



body {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    justify-content: space-between;
    font-size: clamp(14px, 1.7vw, 16px);
}
header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main {  
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
footer, header {
    padding: 10px 0px;
    background-color: var(--black);
    box-sizing: border-box;
}
footer{
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px 0px 50px ;
    position: absolute;
    left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
}
